Nombre:<input type="text" [(ngModel)]="nombre"><br><br>
Email:<input type="text" [(ngModel)]="email"><br><br>
Telefono:<input type="text" [(ngModel)]="telefono"><br><br>
<button (click)="guardar()">Guardar</button>
<button (click)="mostrar()">Mostrar</button>
<table border="1" *ngIf="visible">
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Telefono</th>
    
  </tr>
  <tr *ngFor="let c of agenda">
    <td>{{c.nombre}}</td>
    <td>{{c.email}}</td>
    <td>{{c.telefono}}</td>
    <th><button (click)="borrar(c)">borrar</button></th>
  

  </tr>

</table>
